{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Factory Soluções Inteligentes<br />
    Rua dos Canários, 1020<br />
    <abbr title="Telefone">Tel:</abbr>
    94444-2234
</address>

<address>
    <strong>Suporte: Adriano Angelo</strong>   <a href="mailto:Suporte@example.com">suporte@factory.com</a><br />
    <strong>Marketing: Samuel Silva</strong> <a href="mailto:Marketing@example.com">marketing@factory.com</a>
</address>

{% endblock %}
